{
  "$schema": "https://www.schemastore.org/prettierrc.json",
  "printWidth": 100,
  "semi": false,
  "singleQuote": false,
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "importOrder": [
    "react",
    "<THIRD_PARTY_MODULES>",
    "^@features/(.*)$",
    "^@components/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
